body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.titulo{
color:white;
font-family: monospace;
}

.footer{
  color:white;
  font-family: monospace;
}

.content{
  color:white;
  font-family: monospace;
}

.card{
  background-color: rgb(63, 59, 59);
}
